.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 600px;
  

}

.App-header {
  height: 150px;
  padding: 2px;
  color: gainsboro;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
